.icon {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  justify-items: center;

  width: 24px;
  height: 24px;
  margin-left: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include on-hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/images/icon-phone.png);
  }

  &--menu {
    background-image: url(/src/images/icon-burger-menu.png);
  }

  &--close {
    background-image: url(/src/images/icon-close.png);
  }
}
