.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-block: 24px;

  @include on-tablet {
    padding-block: 64px;
  }

  &__icons {
    z-index: 20;
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    display: flex;
    width: 120px;
    height: 38px;

    @include on-hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__call {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__phone-number {
    overflow: hidden;

    width: 0;

    font-size: 14px;
    color: $main-text-color;
    text-decoration: none;
    white-space: nowrap;

    opacity: 0;

    transition:
      opacity 0.3s ease,
      width 0.3s ease;
  }

  &__call:hover &__phone-number {
    width: 140px;
    opacity: 1;
  }
}
