.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.section-title {
  color: #fff;
  text-align: center;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

@media (width >= 576px) {
  .section-title {
    margin-bottom: 64px;
    font-size: 48px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 64px;
  }
}

.section-title--align--left {
  text-align: left;
}

.recommended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .recommended__products {
    --columns: 12;
  }
}

.recommended__products {
  row-gap: 40px;
}

.recommended__product {
  grid-column: 1 / -1;
  transition: transform .3s;
}

.recommended__product:hover {
  transform: translateY(-6px);
}

@media (width >= 576px) {
  .recommended__product {
    grid-column: 2 / -2;
  }
}

@media (width >= 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.product__photo {
  width: 100%;
  transition: transform .3s;
  display: block;
}

.product:hover .product__photo {
  transform: scale(1.05);
}

.product__photo {
  width: 100%;
}

.how-to-buy {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .how-to-buy {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .how-to-buy {
    --columns: 12;
  }
}

.how-to-buy__title {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .how-to-buy__title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .how-to-buy__title {
    grid-column: 1 / 7;
  }
}

.how-to-buy__content {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .how-to-buy__content {
    grid-column: 4 / 7;
  }
}

@media (width >= 1024px) {
  .how-to-buy__content {
    grid-column: 7 / 13;
  }
}

.how-to-buy__benefits {
  row-gap: 16px;
  margin: 0 0 40px;
  padding: 0;
  font-weight: bold;
  list-style: none;
  display: grid;
}

.how-to-buy__description {
  margin: 0;
  line-height: 27px;
}

.details__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .details__wrapper {
    row-gap: 64px;
  }
}

.detail {
  transition: transform .3s;
}

.detail:hover {
  transform: translateY(-6px);
}

.detail__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 576px) {
  .detail__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .detail__photos {
    --columns: 12;
  }
}

.detail__photos {
  margin-bottom: 16px;
}

.detail__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: absolute;
}

.detail__link {
  display: block;
  position: relative;
  overflow: hidden;
}

.detail__link:hover .detail__photo {
  transform: scale(1.07);
}

@media (width >= 576px) {
  .detail__link--width {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .detail__link--width {
    grid-column: span 8;
  }
}

.detail__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .detail__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .detail__link--square {
    grid-column: span 4;
  }
}

.detail__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  position: relative;
}

.detail__title:after {
  content: "";
  background-color: #1d1d1d;
  width: 0;
  height: 2px;
  transition: width .3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.detail:hover .detail__title:after {
  width: 100%;
}

.detail__button {
  cursor: pointer;
  color: #1d1d1d;
  background: #fff;
  border: none;
  border-radius: 40px;
  width: 278px;
  height: 56px;
  margin: 20px auto;
  padding: 16px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  transition: background .3s, color .3s;
  display: block;
}

.detail__button:hover {
  color: #fff;
  background: #1d1d1d;
}

.contact {
  padding: 40px 0;
}

.contact__title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

@media (width >= 576px) {
  .contact__title {
    font-size: 48px;
  }
}

.contact__content {
  grid-template-columns: 1fr;
  gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .contact__content {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.contact__form {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

.contact__input, .contact__textarea {
  color: #7e7e83;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  outline: none;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
}

.contact__input::placeholder, .contact__textarea::placeholder {
  color: #7e7e83;
}

.contact__textarea {
  resize: none;
  border-radius: 16px;
  height: 120px;
}

.contact__button {
  cursor: pointer;
  color: #1d1d1d;
  background: #fff;
  border: none;
  border-radius: 40px;
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-weight: bold;
}

.contact__info {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.contact__label {
  margin: 0;
  font-weight: bold;
}

.contact__link, .contact__text {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.contact__text a {
  color: #fff;
  text-decoration: underline;
}

.contact__text a:hover {
  opacity: .8;
}

.footer__photo {
  width: 100%;
  height: 200px;
  display: block;
  overflow: hidden;
}

@media (width >= 576px) {
  .footer__photo {
    height: 480px;
  }
}

@media (width >= 1024px) {
  .footer__photo {
    height: 555px;
  }
}

.footer__photo img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #1d1d1d;
}

.main__content {
  row-gap: 96px;
  padding-block: 96px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.page {
  scroll-behavior: smooth;
  color: #fff;
  background-color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.page__body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (width >= 576px) {
  .container {
    padding: 0 40px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  transition: opacity .3s;
}

a:hover, button:hover {
  opacity: .7;
}

.header {
  background-image: url("header-bg-mobile.2d58f869.png");
  background-position: center;
  background-size: cover;
}

@media (width >= 576px) {
  .header {
    background-image: url("header-bg-laptop.53071865.png");
    background-position: center;
  }
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  display: flex;
  position: relative;
}

.header__title {
  color: #fff;
  text-align: center;
  letter-spacing: -1.5px;
  white-space: nowrap;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  position: absolute;
  bottom: 88px;
  left: 0;
  right: 0;
}

@media (width >= 576px) {
  .header__title {
    font-size: 64px;
    bottom: 130px;
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: 80px;
    bottom: 203px;
  }
}

.header__bottom {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
  display: flex;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 64px;
  }
}

.top-bar__icons {
  z-index: 20;
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  width: 120px;
  height: 38px;
  transition: transform .3s;
  display: flex;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo {
    width: 187px;
    height: 56px;
  }
}

.top-bar__call {
  cursor: pointer;
  align-items: center;
  gap: 8px;
  display: flex;
}

.top-bar__phone-number {
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  width: 0;
  font-size: 14px;
  text-decoration: none;
  transition: opacity .3s, width .3s;
  overflow: hidden;
}

.top-bar__call:hover .top-bar__phone-number {
  opacity: 1;
  width: 140px;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: space-between;
  justify-items: center;
  gap: 24px;
  width: 24px;
  height: 24px;
  margin-left: 0;
  transition: transform .3s;
  display: flex;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("Icon-Phone-call.507804fa.svg");
}

.icon--menu {
  background-image: url("Icon-Burger-menu.7505a042.svg");
}

.icon--close {
  background-image: url("Icon-Close.590d61db.svg");
}

.nav__list {
  letter-spacing: 2px;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  list-style: none;
  display: flex;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #1d1d1d;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.page__menu {
  pointer-events: none;
  z-index: 100;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu {
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  background-color: #c2c2c2;
  height: 100vh;
  font-weight: 700;
  transition: all .3s;
  transform: translateX(-100%);
}

.menu__top {
  margin-bottom: 32px;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}

.menu:target {
  pointer-events: auto;
  opacity: 1;
  transform: translateX(0);
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:visited {
  color: inherit;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  letter-spacing: 2px;
  border-bottom: 1px solid #1d1d1d;
  width: fit-content;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}
/*# sourceMappingURL=layout_landing-page.867122b9.css.map */
